@import "../../../js/node_modules/bootstrap/dist/css/bootstrap.min.css";

.app {
    color: white;
}

.zero-padding {
    padding: 0;
}

.header {
    border: 1px solid white;
    background-color: lightgrey;
    padding: 10px;
    box-shadow: lightgray;
}
